<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Configure site to serve JSON files -->
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <!-- Configure site to serve font files -->
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
        </staticContent>
    </system.webServer>

    <!-- Force no caching of index.html -->
    <location path="kmm-conversion/index.html">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
                    <add name="Pragma" value="no-cache" />
                    <add name="Expires" value="0" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>

    <location path="index.html">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
                    <add name="Pragma" value="no-cache" />
                    <add name="Expires" value="0" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>

</configuration>
